################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HangmanQuest/Release/HangmanQuest.tlog
/.vs/HangmanQuest/v15
/HangmanQuestTests/Release/HangmanQ.D72D1471.tlog
